{% extends "music/base.html" %}
{% block title %}Add Album{% endblock %}
{% block albums_active %}active{% endblock %}
{% block content %}
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-sm-12 col-sm-7">
                <div class = "panel panel-defualt">
                    <div class = "panel-body">
                        <form class = "form-horizontal" action = "" method = "post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include "music/form-template.html" %}
                            <div class = "form-group">
                                <div class= "col-sm-offset-2 col-sm-10">
                                    <input class= "btn btn-success" type="submit" value="Submit"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}